.contact-in{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem calc((100vw - 1100px)/ 2); 
}
.contact_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
}
.contact_card {
    width: 100%;
    height: 100%;
}
.contact_card textarea {
    resize: none;
}
.contact_h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 44);
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: 1px solid #666;
}
.btn_contact{
    width: 100%;
	padding: 0.5rem 1rem;
	background-color: #E47615;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.field{
	width: 100%;
	border: 2px solid #E47615;;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}


@media screen and (max-width: 900px){
    .contact_container{
        grid-template-columns: 1fr;
    }
    .contact_card iframe{
        width: 550px;
        height: 250px;
    }
}
@media screen and (max-width: 768px){
    .contact_container{
        grid-template-columns: 1fr;
    }
    .contact_card iframe{
        width: 300px;
        height: 250px;
    }
}