.header {
	display: flex;
	position: sticky;
	z-index: 10000;
	top: 0;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #E47615;
	color: white;
	box-shadow: 0px 4px 18px 1px rgb(0 0 0 / 10%),
		0px 4px 5px 0px rgb(0 0 0 / 8%), 0px 1px 10px 0px rgb(0 0 0 / 9%);
}
.header__left > a {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
.header_logo{
	width: 100px;
	height: 50px;
	object-fit: cover;
	margin-left: 15px;
	margin-bottom: 5px;
}
.header__icons > ul > a:hover{
	color: #000;
	transition: all ease 0.5s;
}
.header__icons > ul > a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}
.header__left > a > span {
	color: #fff;
}
.header__right {
	display: flex;
	align-items: center;
}
.header__icons{
	margin-left: 0px;
	display: flex;
	align-items: center;
}
.header__avatar {
	object-fit: contain;
	height: 35px !important;
	width: 35px !important;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 10px;
	margin-right: -20px;
}
.navbar__user__data {
	display: flex;
	align-items: center;
}
.user {
	cursor: pointer;
	border: 2px solid rgb(0, 255, 234);
}
.signedIn {
	font-size: 15px;
	padding-left: 10px;
	margin-right: 5px;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
}
.auth__button {
	color: #fff;
	background-color: red;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}
.menu_icon{
	display: none;
}
.dropdown{
	background-color: orangered;
	display: inline-block;
}
.btn_menu{
    background: #E47615;
}
.drop_link{
	text-decoration: none;
	text-align: center;
	display: block;
	justify-content: center;
	/* align-items: center; */
	color: #000;
	margin: 5px;
	margin-bottom: 15px;
	width: 200px;
}
.drop_link:hover{
	background-color: #E47615;
	color: #fff;
	padding: 5px;
}
@media screen and (max-width: 768px){
	.drop_link{
		width: 150px;
	}
}
@media screen and (max-width: 960px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 65px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.nav-menu.active {
        /* background: rgb(165, 180, 243); */
		background-color: #fff;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1000;
		/* box-shadow: 0px 4px 18px 1px rgb(0 0 0 / 10%),
		0px 4px 5px 0px rgb(0 0 0 / 8%), 0px 1px 10px 0px rgb(0 0 0 / 9%); */
    }
	.menu_icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-20%, 35%);
		font-size: 1.8rem;
		cursor: pointer;
		margin-right: 5px;
        color: #fff;
	}
	.auth__button{
		margin-right: 35px;
	}
	.header__icons > ul > a {
		text-align: center;
		padding: 1rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: left;
		font-size: 25px;
		color: #E47615;
	}
	.signedIn {
		display: none;
	}
	.user{
		margin-right: 10px;
	}
	.g-auth{
		text-align: center;
		padding: 1rem;
		width: 80%;
		transform: translate(10%, 25%);
		display: table;
		font-size: 25px;
	}
	.g-userName{
		text-align: center;
		/* padding: 2rem; */
		width: 100%;
		display: table;
		font-size: 25px;
	}
}
